logging:
  config: 'classpath:log4j2.yml'

spring:
  application:
    name: marketplace-messanger-api
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://kinoko.su:5432/mp_db_dev
    username: mp_dev_user
    password: mp_dev_passwd

server:
  port: 33305
